# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# the directory where the snapshot is stored.
dataDir={{ kafka_dataDir }}
# the port at which the clients will connect
clientPort={{ clientPort }}
# disable the per-ip limit on the number of connections since this is a non-production config
maxClientCnxns={{ maxClientCnxns }}
# zookeeper hearbeat'ini millisaniye cinsinden belirtir
tickTime={{ tickTime }}

# İlk senkronizasyon için limit
initLimit={{ initLimit }}

# zaman aşamına düşmeden önce kaç tick geçer
syncLimit={{ syncLimit }}

# Server ip ve internal port'ları
server.1={{ node1_name }}:2888:3888
server.2={{ node2_name }}:2888:3888
server.3={{ node3_name }}:2888:3888
