[Unit]
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User={{ kafka_user }}
ExecStart={{ zookeeper_start_server }} {{ zookeeper_properties }}
ExecStop={{ zookeeper_stop_server }}
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
