[

{rabbit, [
    {tcp_listeners, []},
    {ssl_listeners, [{{ ssl_port_rabbit }}]},
    {ssl_options, [{cacertfile,"{{ cacertfile }}"},
                   {certfile,"{{ certfile }}"},
                   {keyfile,"{{ keyfile }}"},
                   {versions, ['tlsv1.2','tlsv1.1']},
                   {ciphers,  [{rsa,aes_256_cbc,sha256}]},
                   {verify,verify_peer},
                   {fail_if_no_peer_cert,true}]}
  ]},

      { rabbitmq_management, [
                { listener, [
                { port, {{ ssl_port_console }} },
                { ssl, true },
                { ssl_opts, [
                        { cacertfile,"{{ cacertfile }}" },
                        { certfile,"{{ certfile }}" },
                        { fail_if_no_peer_cert, true },
                        { keyfile,"{{ keyfile }}" },
                        {versions, ['tlsv1.2','tlsv1.1']},
                        {ciphers,  [{rsa,aes_256_cbc,sha256}]},
                        { verify, verify_none }
                ] }
        ] } ]
        }

].
